/* Login Form */
.box{
    padding: 12px;
    width: 25%;
    margin: 15px;
    outline: none;
    border-radius: 20px;
    font-size: 17px;
}
#submit{
    padding: 12px 25px;
    width: 10%;
    margin-top: 40px;
    margin-left: 20px;
    background-color:rgb(255, 196, 0);
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}
